* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* word-break: keep-all; */
    color: white;
    }

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("assets/images/carbon.png");
    background-size: cover;
    background-repeat: repeat;
    text-shadow: 2px 2px 0px black;
}


a {
    color: white;
    text-decoration: none;}

nav {
    width: 100%;
    height: 75px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    display: flex;
    align-items: center;}

p {
    margin-top: 1em;}


ul.dropdown-menu a:hover {
    color: #fff !important;}

#contacts {
    display: flex;
    justify-content: space-evenly;
}

#profil_photo {
    height: 48px;
    width: 48px;
    border-radius: 5px;
    background: #000 center/cover url("assets/images/logo_rr.jpg") no-repeat;
}

#profil_photo:hover {
    box-shadow: 0px 0px 0px 5px white;
}

.center {
    text-align: center;
}

.fa-black {
    color: black;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    padding-bottom: 20vh;
    margin-top: -5vh;
    z-index: 0;
}

.shake {
    animation: shake-animation 2s ease infinite;
    transform-origin: 12.5% 12.5%;
  }
  @keyframes shake-animation {
    0% { transform:translate(0,0) }
    1.78571% { transform:translate(5px,0) }
    3.57143% { transform:translate(0,0) }
    5.35714% { transform:translate(5px,0) }
    7.14286% { transform:translate(0,0) }
    8.92857% { transform:translate(5px,0) }
    10.71429% { transform:translate(0,0) }
    100% { transform:translate(0,0) }
  }

.menu >p:first-of-type {
    font-size: 1.25em;
    margin-bottom: 2em;
}

.menu_veille {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.menu_veille > div {
    width: 80vw;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1em 0em 1em 0em;
    padding: 1em;
    background-color: rgba(0,0,0,50%);

}

.menu_veille > div:last-of-type {
    margin-bottom: 5em;
}

.menu_veille >div:first-of-type {
    flex-direction: row;
    justify-content: center;
    font-size: 1.25em;
}

.underlined {
    text-decoration: underline;
    text-decoration-color: white;
    text-shadow: none;
}

.title {
    background: radial-gradient(circle, rgba(133,133,145,1) 0%, rgba(42,42,64,1) 100%);
    width: 80vw;
    height: 15vh;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px black;
    font-weight: bold;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;}

footer {
    width: 100vw;
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.img:hover {
    transform: scale(1.10);
    transition: .3s
}

@media only screen and (min-width: 768px) {

    body {
        font-size: 1.25em;
        text-shadow: 3px 3px 0px black;}
    }

    .title {
        width: 40vw;
    }

    #day_composition {
        display: flex;
        align-items: center;
        width: 80vw;
        height: 50vh;
        background-image: url("assets/images/day_composition.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border: transparent;
        border-radius: 10px;
        margin: auto;
        padding: 0;
        background-color: transparent;
    }
    
    #week_composition {
        width: 80vw;
        height: 20vh;
        background-image: url("assets/images/week_composition.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border: transparent;
        border-radius: 10px;
        padding: 0;
        background-color: transparent;
    }
    
    #projects_duration {
        width: 80vw;
        height: 50vh;
        background-image: url("assets/images/projects_duration.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border: transparent;
        border-radius: 10px;
        margin: 1em 1em 5em 1em;
        padding: 0;
        background-color: transparent;
    }